body {
    background-image: url("/static/img/blueswoosh.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

p.newstitle {
    font-weight: bold;
    font-size: 2.5em;
    border: 0;
}

p.news {
    font-size: 2em;
}

p.time {
    font-weight: bold;
    font-size: 2.5em;
    color: Azure;
    text-transform: uppercase;
    text-align: center;
}

p.ticker {
    font-weight: bold;
    font-size: 4em;
    color: Azure;
    text-transform: uppercase;
    position: relative;
    top: 50%;
}

p.spacer {
    font-size: 4em;
    text-transform: uppercase;
}

.images {
    max-width: 100%;
    max-height: 100%;
   /*border: 3px solid #73AD21;*/
    padding: 20px;
}

.news {
    max-width: 100%;
    max-height: 100%;
    /*border: 3px solid #73AD21;*/
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* choose any height */
}

/* Make it a marquee */
.marquee {
    /*width: 450px;*/
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    /*border: 3px solid #73AD21;*/
}
.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 0em }
    100% { text-indent: -105em }
}
